<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="layout/layout :: head">
    <script>
        function validarSoloLetras() {
            debugger
            let input = document.getElementById('nombre');
            let regex = /^[a-zA-Z\s]*$/;

            if (!regex.test(input.value)) {
                input.value = input.value.replace(/[^a-zA-Z\s]/g, '');
                document.getElementById('nombre-aviso').textContent = "Solo se permiten letras.";
            } else {
                document.getElementById('nombre-aviso').textContent = "";
            }
        }
        function validarDNI() {
            let input = document.getElementById('dni');
            let regex = /^[0-9]{8}$/;

            if (!regex.test(input.value)) {
                input.value = input.value.replace(/[^0-9]/g, '').slice(0, 8);
                document.getElementById('dni-aviso').textContent = "El DNI debe contener exactamente 8 números.";
            } else {
                document.getElementById('dni-aviso').textContent = "";
            }
        }

        function validarEmail() {
            let input = document.getElementById('email');
            let regex = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/;

            if (!regex.test(input.value)) {
                document.getElementById('email-aviso').textContent = "Ingrese un correo electrónico válido.";
            } else {
                document.getElementById('email-aviso').textContent = "";
            }
        }

    </script>
</head>

<body>

    <header th:replace="layout/layout :: header"></header>
    <aside th:replace="layout/layout :: sidebar"></aside>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1 th:text="${titulo}"></h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item">Clientes</li>
                    <li class="breadcrumb-item"><a href="/listar">Tabla</a></li>
                    <li class="breadcrumb-item active" th:text="${subTitulo}"></li>
                </ol>
            </nav>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-lg">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${titulo}"></h5>
                            <form th:action="@{/form}" th:object="${cliente}" method="post">
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input oninput="validarSoloLetras()" type="text" class="form-control"
                                            id="nombre" th:field="*{nombre}"
                                            th:errorclass="'form-control alert-danger'">
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                                            th:errors="*{nombre}"></small>
                                        <span id="nombre-aviso"></span>

                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Apellido</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" th:field="*{apellido}"
                                            th:errorclass="'form-control alert-danger'"> <small
                                            class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                                            th:errors="*{apellido}"></small>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Dirección</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" th:field="*{direccion}"
                                            th:errorclass="'form-control alert-danger'"><small
                                            class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}"
                                            th:errors="*{direccion}"></small>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">DNI</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="dni" th:field="*{dni}"
                                            th:errorclass="'form-control alert-danger'" oninput="validarDNI()">
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('dni')}"
                                            th:errors="*{dni}"></small>
                                    </div>

                                    <span id="dni-aviso"></span>

                                </div>
                                <div class="row mb-3">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" th:field="*{email}"
                                            th:errorclass="'form-control alert-danger'" oninput="validarEmail()">
                                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                            th:errors="*{email}"></small>
                                    </div>
                                    <span id="email-aviso"></span>

                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">Crear Cliente</label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>