<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<aside th:replace="layout/layout :: sidebar"></aside>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1 th:text="${titulo}"></h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/index">Home</a></li>
					<li class="breadcrumb-item">Clientes</li>
					<li class="breadcrumb-item"><a href="/listar">Tabla</a></li>
					<li class="breadcrumb-item active" th:text="${subTitulo}"></li>
				</ol>
			</nav>
		</div>
		<section class="section">
			<div class="row">
				<div class="col-lg">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="${titulo}"></h5>
							<form th:action="@{/formUsuario}" th:object="${usuario}"
								method="post">
								<div class="row mb-3">
									<label for="inputText" class="col-sm-2 col-form-label">Nombre</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{nombre}"
											th:errorclass="'form-control alert-danger'"> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputText" class="col-sm-2 col-form-label">Apellido</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{apellido}"
											th:errorclass="'form-control alert-danger'"> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('apellido')}"
											th:errors="*{apellido}"></small>
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputNumber" class="col-sm-2 col-form-label">DNI</label>
									<div class="col-sm-10">
										
										<input
											class="form-control" type="text" th:field="*{dni}"
											th:errorclas="'form-control alert-danger'"
											placeholder="Introduzca su DNI" pattern="[0-9]{8}"
											title="Debe poner 8 números" 
											maxlength="9" />

									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label">Cargo</label>
									<div class="col-sm-10">
										<select class="form-select"
											aria-label="Default select example" type="text"
											th:field="*{cargo}">
											<option selected value="">Selecionar Cargo</option>
											<option value="Administracion">Administracion</option>
											<option value="Inventario">Inventario</option>
											<option value="Cajero">Cajero</option>
											<option value="Vendedor">Vendedor</option>
											<option value="Repartidor">Repartidor</option>
										</select>
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputText" class="col-sm-2 col-form-label">Dirección</label>
									<div class="col-sm-10">
										<input type="text" class="form-control"
											th:field="*{direccion}"
											th:errorclass="'form-control alert-danger'">

									</div>
								</div>
								<div class="row mb-3">
									<label for="inputTel" class="col-sm-2 col-form-label">Teléfono</label>
									<div class="col-sm-10">
										<input type="tel" class="form-control"
											th:field="*{telefono}"
											th:errorclass="'form-control alert-danger'">

									</div>
								</div>
								<div class="row mb-3">
									<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
									<div class="col-sm-10">
										<input type="email" class="form-control" th:field="*{email}"
											th:errorclass="'form-control alert-danger'"> <small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('email')}" th:errors="*{apellido}"></small>
									</div>
								</div>
								<div class="row mb-3">
									<label for="inputDate" class="col-sm-2 col-form-label">Fecha</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" th:field="*{createAt}"
											th:errorclass="'form-control alert-danger'"><small
											class="form-text text-danger"
											th:if="${#fields.hasErrors('createAt')}"
											th:errors="*{createAt}"></small>
									</div>
								</div>
								<div class="row mb-3">
									<label class="col-sm-2 col-form-label">Crear Usuario</label>
									<div class="col-sm-10">
										<button type="submit" class="btn btn-primary">Enviar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>